<!DOCTYPE html>
<html>
<head>
  <title>Youtube my Playlist</title>
  <%= stylesheet_link_tag('style') %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.effects.core.js"></script>
  <script type="text/javascript" src="http://ui.jquery.com/latest/ui/jquery.effects.slide.js"></script>
  <%= javascript_include_tag "myplaylist.js" if controller.controller_name == "playlist" %>
  <%= javascript_include_tag "playlist.js" if controller.controller_name == "p" %>

  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
	<%= image_tag("logo.png") %>
	<%= yield %>
</div>
</body>
</html>